{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% load user_agents %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}User Support Ticket List{% endblock %}

{% block content %}

<head>
    <style>
        #centerpagelists {
            margin-left: 30% !important;
            padding: 10px;
        }
    </style>
</head>
<div class="divider"></div>

<!--master container-->
<div class="container-fluid">
        
<!--all link buttons here-->
   
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="text-center col-sm-4 mb-r wow slideInUp" data-wow-delay="0.1s">
            <a href="/helpdesk/userticket_create" class="btn-floating btn-small red"><i class="fa fa-plus" aria-hidden="true"></i></a>
            <a href="/apps_list/" class="btn-floating btn-small red"><i class="fa fa-list-alt" aria-hidden="true"></i></a>
        </div>
       
        <div class="col-sm-4">
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for ticket issues.." title="Type in a name">
        </div>
        

    </div>
   
<!--all link buttons here-->



<!--Body-->
<div class="container-fluid">
    <div class="row">
        
    <div class="col-md-12">
        <ul id="myUL" class="list-group">
                <a href="#" class="list-group-item default-color-dark white-text"><i class="fa fa-thumbs-up"></i>&nbsp;You have raised {{ user_object_count }} tickets.</a>
        
        {% for utl in user_object_list %}
        
        <li id="myUL" class="list-group-item justify-content-between">
        <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-xs-2 text-left">
                <h6>Ticket Number: {{ utl.ticket_category }}-{{ utl.ticket_number }}</h6>
            </div>

            <div class="col-lg-5 col-md-5 text-left">
                <h6>Issue: {{ utl.ticket_issue }}</h6>
                <h6>Priority: {{ utl.ticket_priority }}</h6>
                
            </div>
            
            <div class="col-lg-3 col-md-3 text-left">
                {% if utl.ticket_status == "Started" %}
                    <h6>Current Status: <span class="badge yellow">{{ utl.ticket_status }}</span></h6>
                {% elif utl.ticket_status == "In Progress" %}
                    <h6>Current Status: <span class="badge blue">{{ utl.ticket_status }}</span></h6>
                {% elif utl.ticket_status == "Pending" %}
                    <h6>Current Status: <span class="badge red">{{ utl.ticket_status }}</span></h6>
                {% elif utl.ticket_status == "Completed" %}
                    <h6>Current Status: <span class="badge green">{{ utl.ticket_status }}</span></h6>
                {% elif utl.ticket_status == "Closed" %}
                    <h6>Current Status: <span class="badge green">{{ utl.ticket_status }}</span></h6>
                {% endif %}
            </div>

            <div class="col-lg-2 col-md-2 text-right">
                <a class="badge badge light-blue" href="/helpdesk/{{ utl.pk }}/userticket_detail"><i class="fa fa-newspaper-o fa-2x" aria-hidden="true"></i></a>
                <a class="badge badge orange" href="/helpdesk/{{ utl.pk }}/userticket_update"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
            </div>
        </div>
        </div>
        </li>
        {% empty %}
        <small>Nothing to display now, please proceed to create a new support ticket by pressing + button above.</small>
        
        {% endfor %}
        </ul>
        
    </div>
    </div>
    </div>

<!--pagination starts here-->

    <div id="centerpagelists">
        
        {% if is_paginated %}
        <ul class="pagination">
        {% if page_obj.has_previous %}
            <li>
                <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
            </li>
        {% endif %}
            <li class="">
                <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
            </li>
        {% if page_obj.has_next %}
            <li>
                <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
            </li>
        {% endif %}
        </ul>
        {% else %}
            <p class="deep-orange-text text-center">end of list</p>
        {% endif %}

    </div>


</div>
<!--/container-->
<div class="divider"></div>
<!--/pagination starts here-->

</div>
<!--/master container-->
<script>
        function myFunction() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
        
                }
            }
        }
        </script>

{% endblock %}