{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% load user_agents %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}LDR Project Org{% endblock %}

{% block content %}
<head>

    <style>
        #canvas{
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

        .backarrow {
            width: 30px;
            height: 25px;
            margin-left: 10px;
        }

        .ldrblue {
          background-color: #00AEEF;
        }
        </style>
        <script type="text/javascript" src="{% static 'js/Chart.bundle.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/utils.js' %}"></script>

</head>
<div class="divider"></div>
<h2>
    <a class="backarrow" href="javascript: window.history.go(-1);">
        <img class="backarrow" src="{% static 'images\leftArrow.png' %}">
    </a>
</h2>
<div class="container-fluid">
<h2>LDR Project Org
  <a href="#" class="btn-floating btn-small ldrblue waves-effect waves-light"><i class="fa fa-plus" aria-hidden="true"></i></a>
</h2>

  <div class="table-responsive table table-striped table-hover table-sm">          
  <table class="table">
    <thead class="ldrblue">
      <tr class="text-white">
        <th>#</th>
        <th>Project Name</th>
        <th>PS. Date</th>
        <th>PE. Date</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
        <th>Project Manager</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for project in project_list %}
      <tr>
        <td>{{ project.projectId }}</td>
        <td>{{ project.projectName }}</td>
        <td>{{ project.plannedStartDate }}</td>
        <td>{{ project.plannedEndDate }}</td>
        <td>{{ project.projectStartDate }}</td>
        <td>{{ project.projectEndDate }}</td>
        <td>{{ project.projectStatus }}</td>
        <td>{{ project.projectManager }}</td>        
        <td><a href="/project/{{ project.pk }}/projectorg_detail"><i class="fa fa-newspaper-o" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        </td>
        
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>




</div>


{% endblock %}
