{% load static %}
	<head>
		<title></title>
		<style>
        @media screen and (orientation: portrait) {
            #adjust1 {
            margin-top: 0% !important;
            }
        }
    </style>

		<link href="{% static 'css/bcmobile.css' %}" rel="stylesheet">
		<link href="{% static 'css/jquery.mmenu.all.css' %}" rel="stylesheet">
	
	</head>

	<div id="page">
		<div class="header fixed-top">
			<a href="#menu"><span></span></a>
				LDR Mobile
		</div>
			
			<nav id="menu">
				<ul id="adjust1">
					<!--Home-->
					<li><a href="\"><i class="fa fa-university"></i>&nbsp;HOME</a>
						<ul>
							{% for menu in menus|dictsort:"menu_name" %}
                    			{% if menu.menu_position = 'HOME' %}
                        			<li><a href="{{ menu.menu_link }}">{{ menu.menu_name|upper }}</a></li>        
                    			{% endif %}
                			{% empty %}
                			{% endfor %}
						</ul>	
					</li>
					<!--DISCOVERs-->
					<li><a href="#"><i class="fa fa-spinner"></i>&nbsp;DISCOVER</a>
						<ul>
							{% for menu in menus|dictsort:"menu_name" %}
                    			{% if menu.menu_position = 'DISCOVER' %}
                        			<li><a href="{{ menu.menu_link }}">{{ menu.menu_name|upper }}</a></li>        
                    			{% endif %}
                			{% empty %}
                			{% endfor %}
						</ul>
					</li>
					<!--EXPERIENCE-->
					<li><a href="#"><i class="fa fa-star-o"></i>&nbsp;EXPERIENCE</a>
						<ul>
							{% for menu in menus|dictsort:"menu_name" %}
                    			{% if menu.menu_position = 'EXPERIENCE' %}
                        			<li><a href="{{ menu.menu_link }}">{{ menu.menu_name|upper }}</a></li>        
                    			{% endif %}
                			{% empty %}
                			{% endfor %}
						</ul>
					</li>
					<!--ENGAGE-->
					<li><a href="#"><i class="fa fa-users"></i>&nbsp;ENGAGE</a>
						<ul>
							
						</ul>
					</li>

					<!--GROW-->
					<li><a href="#"><i class="fa fa-rocket"></i>&nbsp;GROW</a>
						<ul>
							{% for menu in menus|dictsort:"menu_name" %}
                    			{% if menu.menu_position = 'GROW' %}
                        			<li><a href="{{ menu.menu_link }}">{{ menu.menu_name|upper }}</a></li>        
                    			{% endif %}
                			{% empty %}
                			{% endfor %}
						</ul>
					</li>
					
					<!--CONNECT-->
					<li><a href="/accounts/login/"><i class="fa fa-plug"></i>&nbsp;CONNECT</a>
						<ul>
							<li><a href="/accounts/login/"><i class="fa fa-user"></i>&nbsp;LOGIN</a></li>
                    		<li><a href="/accounts/register/"><i class="fa fa-pencil-square-o"></i>&nbsp;REGISTER</a></li>
							{% for menu in menus|dictsort:"menu_name" %}
                				{% if menu.menu_position = 'CONNECT' %}
                    				<li><a href="{{ menu.menu_link }}">{{ menu.menu_name|upper }}</a></li>        
                				{% endif %}
                			{% empty %}
            				{% endfor %}
						</ul>
					</li>
					<!--/CONNECT-->
				</ul>
			</nav>
	</div>

